@tailwind base;
@tailwind components;
@tailwind utilities;

.header-container{
    width: 100%;
    background-color: #1a202c;
}
form{
    padding-left: 35%;
    padding-right: 35%;


}
.form-group{
    margin: 20px;
}

.OverOns{
    text-align: center;
}
.OverOnsText{
    padding-top: 20px;
}



/*alle css voor de about pagina:*/

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #fff;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0,0,0,.2);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 600px;
    background-image: url("../img/EvenementFoto.jpg");
    background-size: cover;
    /*height: 100%; */
    /*min-height: 100%;*/
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;

}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }

}


.lead{
    color: white;
    font-weight: bolder;
    font-size: 25px;
}
.about-text{
    background-color: rgba(62, 55, 59, 0.52);
    border: solid #A33327 6px;
    border-radius:20px;
    padding-bottom: 50px;
}
form{
    color: black;
}
body{
    background-color: #151515;
}
header{
    background-color: none;
    padding-bottom: 50px;
}
.nav-link{
    color: whitesmoke;
    font-size: 20px;

}
.nav-link:hover{
    color: #A33327;

}
.navbar-brand{
    color: #A33327;
    font-size: 30px;
    padding: 20px;
}
.nav-item{
margin: 2px;
}
.HomeContainer{
    color: #E64136;

}
.navbar-brand:hover{
    color: whitesmoke;
}
.HeaderTitle{
    font-size: 150px;
    color: #A33327;
}
.card{
    background-color: #151515;
    border: solid #A33327;
    border-radius:10px;
}



.card-text{
    color: #6C757D;
}
label{
    color: white;
    font-size: 25px;

}
.contactTitle{
color :#A33327;
    padding-bottom: 100px;
    font-size: 80px;

}
.form-control{
    background-color :#151515;
    border: solid #A33327;
    border-radius:10px;

}
.AboutTitle{
    color :#A33327;
    font-size: 180px;
}

